.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    margin-top: 5%;
    -webkit-overflow-scrolling: touch;
    background: #343a40
  }
  
  .card {
    flex: 0 0 auto;
      margin-right: 2px;
      margin-left: 2px;
      margin-top: 2px;
      margin-bottom: 2px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
  }
  

  ::-webkit-scrollbar {
    display: none;
  }
  img {
    display: block;
    max-width:150px;
    max-height:95px;
    width: auto;
    height: auto;
  }